@import 'tailwindcss';
@import 'tw-animate-css';

@import '../styles/backgrounds.css';

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --background: oklch(98.511% 0.00011 271.152);
  --foreground: oklch(0.4426 0.1653 352.3762);
  --card: oklch(100% 0.00011 271.152);
  --card-foreground: oklch(0.4426 0.1653 352.3762);
  --popover: oklch(97.614% 0.00011 271.152);
  --popover-foreground: oklch(0.4426 0.1653 352.3762);
  --primary: oklch(0.6002 0.2414 0.1348);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(95.815% 0.00011 271.152);
  --secondary-foreground: oklch(0.4426 0.1653 352.3762);
  --muted: oklch(86.686% 0.0001 271.152);
  --muted-foreground: oklch(0.574 0.1732 352.0544);
  --accent: oklch(97.468% 0.00211 14.301);
  --accent-foreground: oklch(50.089% 0.19156 352.34);
  --destructive: oklch(0.5831 0.1911 6.341);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(94.309% 0.00011 271.152);
  --input: oklch(89.755% 0.0001 271.152);
  --ring: oklch(86.995% 0.0001 271.152);
  --chart-1: oklch(0.6002 0.2414 0.1348);
  --chart-2: oklch(0.5979 0.175 345.0378);
  --chart-3: oklch(0.6009 0.1243 311.7958);
  --chart-4: oklch(0.5849 0.1178 283.2937);
  --chart-5: oklch(0.6479 0.1871 267.9684);
  --sidebar: oklch(99.405% 0.00011 271.152);
  --sidebar-foreground: oklch(0.4426 0.1653 352.3762);
  --sidebar-primary: oklch(0.6002 0.2414 0.1348);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(95.815% 0.00011 271.152);
  --sidebar-accent-foreground: oklch(0.4426 0.1653 352.3762);
  --sidebar-border: oklch(93.403% 0.00011 271.152);
  --sidebar-ring: oklch(0.6002 0.2414 0.1348);
  --font-sans: var(--font-fredoka), sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Space Mono, monospace;
  --radius: 1rem;

  /* 3D looking shadows */
  /* --shadow-2xs: 0px 3px 0px 0px hsl(330 70% 30% / 0.09);
  --shadow-xs: 0px 3px 0px 0px hsl(330 70% 30% / 0.09);
  --shadow-sm: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 1px 2px -1px hsl(330 70% 30% / 0.18);
  --shadow: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 1px 2px -1px hsl(330 70% 30% / 0.18);
  --shadow-md: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 2px 4px -1px hsl(330 70% 30% / 0.18);
  --shadow-lg: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 4px 6px -1px hsl(330 70% 30% / 0.18);
  --shadow-xl: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 8px 10px -1px hsl(330 70% 30% / 0.18);
  --shadow-2xl: 0px 3px 0px 0px hsl(330 70% 30% / 0.45); */
  /* end */

  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);

  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

/* .dark { */
/* --background: oklch(0.1808 0.0535 313.7159);
  --foreground: oklch(0.8624 0.1307 326.6356);
  --card: oklch(0.2398 0.0661 313.2337);
  --card-foreground: oklch(0.8624 0.1307 326.6356);
  --popover: oklch(0.2398 0.0661 313.2337);
  --popover-foreground: oklch(0.8624 0.1307 326.6356);
  --primary: oklch(0.7543 0.2319 332.0212);
  --primary-foreground: oklch(0.1608 0.0493 327.5673);
  --secondary: oklch(0.3184 0.0915 319.6465);
  --secondary-foreground: oklch(0.8624 0.1307 326.6356);
  --muted: oklch(0.2701 0.077 312.3525);
  --muted-foreground: oklch(0.7116 0.1623 327.1132);
  --accent: oklch(0.3558 0.1201 325.7655);
  --accent-foreground: oklch(0.8624 0.1307 326.6356);
  --destructive: oklch(0.6539 0.2441 7.174);
  --destructive-foreground: oklch(0.9821 0 0);
  --border: oklch(0.328 0.1202 313.5393);
  --input: oklch(0.3184 0.0915 319.6465);
  --ring: oklch(0.7543 0.2319 332.0212);
  --chart-1: oklch(0.7543 0.2319 332.0212);
  --chart-2: oklch(0.6508 0.2159 317.6331);
  --chart-3: oklch(0.6249 0.2233 292.7656);
  --chart-4: oklch(0.6067 0.1649 278.7172);
  --chart-5: oklch(0.6235 0.2019 268.0521);
  --sidebar: oklch(0.1941 0.0504 311.3983);
  --sidebar-foreground: oklch(0.8624 0.1307 326.6356);
  --sidebar-primary: oklch(0.7543 0.2319 332.0212);
  --sidebar-primary-foreground: oklch(0.1608 0.0493 327.5673);
  --sidebar-accent: oklch(0.3558 0.1201 325.7655);
  --sidebar-accent-foreground: oklch(0.8624 0.1307 326.6356);
  --sidebar-border: oklch(0.328 0.1202 313.5393);
  --sidebar-ring: oklch(0.7543 0.2319 332.0212); */
/* --font-sans: Quicksand, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Space Mono, monospace; */
/* --radius: 0.5rem; */
/* --shadow-2xs: 0px 3px 0px 0px hsl(300 80% 50% / 0.09);
  --shadow-xs: 0px 3px 0px 0px hsl(300 80% 50% / 0.09);
  --shadow-sm: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 1px 2px -1px hsl(300 80% 50% / 0.18);
  --shadow: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 1px 2px -1px hsl(300 80% 50% / 0.18);
  --shadow-md: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 2px 4px -1px hsl(300 80% 50% / 0.18);
  --shadow-lg: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 4px 6px -1px hsl(300 80% 50% / 0.18);
  --shadow-xl: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 8px 10px -1px hsl(300 80% 50% / 0.18);
  --shadow-2xl: 0px 3px 0px 0px hsl(300 80% 50% / 0.45); */
/* } */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.responsive-container {
  /* sync with header */
  @apply mx-auto px-2;
  @apply w-full md:max-w-[1100px];
}

.home-header {
  @apply bg-white;
  @apply rounded-2xl py-6 px-2 flex items-center justify-between shadow;
  @apply md:max-w-[800px];
  @apply border-2 border-neutral-100;
  @apply h-14;
  /* width: calc(7 / 8 * 100%); */
  z-index: 50; /* z-50 */
}

.bg-sidebar {
  @apply bg-gradient-to-r from-sidebar to-neutral-100;
}

.form-label {
  @apply text-xs uppercase tracking-wide text-muted-foreground;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.ad-housing-bg {
  @apply bg-gradient-to-br from-emerald-50 via-teal-50 to-cyan-50;
  /* dark:from-blue-950/20 dark:via-purple-950/20 dark:to-pink-950/20 */
}

.ad-housing {
  @apply bg-gradient-to-br from-emerald-500 via-teal-500 to-cyan-500;
  /* dark:from-emerald-950/20 dark:via-teal-950/20 dark:to-cyan-950/20 */
}

.ad-transportation-bg {
  @apply bg-gradient-to-br from-blue-50 via-sky-50 to-indigo-50;
  /* dark:from-blue-950/20 dark:via-sky-950/20 dark:to-indigo-950/20 */
}

.ad-transportation {
  @apply bg-gradient-to-br from-blue-500 via-sky-500 to-indigo-300;
  /* dark:from-blue-950/20 dark:via-sky-950/20 dark:to-indigo-950/20 */
}

.ad-marketplace-bg {
  @apply bg-gradient-to-br from-orange-50 via-red-50 to-pink-50;
  /* dark:from-yellow-950/20 dark:via-orange-950/20 dark:to-red-950/20 */
}

.ad-marketplace {
  @apply bg-gradient-to-r from-orange-500 via-red-500 to-pink-500;
  /* dark:from-yellow-950/20 dark:via-orange-950/20 dark:to-red-950/20 */
}

.ad-services-bg {
  @apply bg-gradient-to-br from-violet-50 via-purple-50 to-indigo-50;
  /* dark:from-purple-950/20 dark:via-pink-950/20 dark:to-rose-950/20 */
}
.ad-services {
  @apply bg-gradient-to-br from-violet-500 via-purple-500 to-indigo-500;
  /* dark:from-purple-950/20 dark:via-pink-950/20 dark:to-rose-950/20 */
}

.form-content-card {
  @apply rounded-3xl border p-4 bg-white shadow-xs;
}

.form-content-card-disabled {
  @apply bg-transparent border-dashed border-2 rounded-3xl p-4 border-neutral-200;
}
